USE [crec_new]
GO
/****** Object:  Table [dbo].[crec_W_Bpart]    Script Date: 2022-08-02 오전 7:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crec_W_Bpart](
	[W_BCode] [char](8) NOT NULL,
	[W_BName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_crec_W_Bpart] PRIMARY KEY CLUSTERED 
(
	[W_BCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crec_W_Mpart]    Script Date: 2022-08-02 오전 7:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crec_W_Mpart](
	[W_BCode] [char](10) NOT NULL,
	[W_MCode] [char](10) NOT NULL,
	[W_MName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_crec_W_Mpart] PRIMARY KEY CLUSTERED 
(
	[W_BCode] ASC,
	[W_MCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crec_W_Spart]    Script Date: 2022-08-02 오전 7:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crec_W_Spart](
	[W_BCode] [char](10) NOT NULL,
	[W_MCode] [char](10) NOT NULL,
	[W_SCode] [char](10) NOT NULL,
	[W_SName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_crec_W_Spart] PRIMARY KEY CLUSTERED 
(
	[W_BCode] ASC,
	[W_MCode] ASC,
	[W_SCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[crec_W_Bpart] ([W_BCode], [W_BName]) VALUES (N'CT100   ', N'주문/결제')
INSERT [dbo].[crec_W_Bpart] ([W_BCode], [W_BName]) VALUES (N'CT110   ', N'배송')
INSERT [dbo].[crec_W_Bpart] ([W_BCode], [W_BName]) VALUES (N'CT120   ', N'교환/AS')
GO
INSERT [dbo].[crec_W_Mpart] ([W_BCode], [W_MCode], [W_MName]) VALUES (N'CT100     ', N'CT10001   ', N'상품문의')
INSERT [dbo].[crec_W_Mpart] ([W_BCode], [W_MCode], [W_MName]) VALUES (N'CT100     ', N'CT10002   ', N'주문/결제')
INSERT [dbo].[crec_W_Mpart] ([W_BCode], [W_MCode], [W_MName]) VALUES (N'CT100     ', N'CT10003   ', N'영수증')
GO
INSERT [dbo].[crec_W_Spart] ([W_BCode], [W_MCode], [W_SCode], [W_SName]) VALUES (N'CT100     ', N'CT10001   ', N'CT1000101 ', N'상품문의')
INSERT [dbo].[crec_W_Spart] ([W_BCode], [W_MCode], [W_SCode], [W_SName]) VALUES (N'CT100     ', N'CT10001   ', N'CT1000102 ', N'상품제안')
INSERT [dbo].[crec_W_Spart] ([W_BCode], [W_MCode], [W_SCode], [W_SName]) VALUES (N'CT100     ', N'CT10002   ', N'CT1000201 ', N'주문방법문의')
GO

create table tbl_work_group
(
    bpart_code    varchar(6)  not null,
    mpart_code    varchar(10) not null,
    spart_code    varchar(20) not null,
    business_code char(2)     not null,
    part_depth    tinyint     not null,
    part_name     varchar(40) not null,
    part_etc      varchar(20),
    order_no      smallint,
    use_yn        varchar     not null,
    delete_day    int,
    constraint pk_work_group
        primary key (bpart_code, mpart_code, spart_code)
)
go

create unique index ux_work_group_part
    on tbl_work_group (part_depth, bpart_code, mpart_code, spart_code)
go

insert into tbl_work_group
select W_BCode,'0000','0000','01','1',W_BName,'','','1','0' from crec_W_Bpart;
insert into tbl_work_group
select W_BCode,W_MCode,'0000','01','2',W_MName,'','','1','0' from crec_W_Mpart;
insert into tbl_work_group
select W_BCode,W_MCode,W_SCode,'01','3',W_SName,'','','1','0' from crec_W_Spart;